{% extends "base" %}

{% block content %}

    <ol>
        {% for type in job_types%}
            <li>
                {% if user.isAdmin() %}
                    <a href="{{url('job-types/'~type.id~'/edit')}}">
                    {{type.name}}
                    </a>
                {% else %}
                    {{type.name}}
                {% endif %}
                {% if type.contact_required %}
                    <span class="label">Contact required</span>
                {% endif %}
            </li>
        {% endfor %}
        <li>
            <form>
                <label class="inline"><input type="text" name="name" /></label>
            </form>
        </li>
    </ol>

{% endblock %}