{% if categories %}
<ol class="categorytree">

    {% for cat in categories %}
    <li class="category">

        {% if cat.getChildren().count() == 0 %}
        <span class="fa fa-dot-circle-o"></span>
        {% else %}
        <a class="fa toggle fa-plus-circle" title="Expand this item"></a>
        {% endif %}

        <label>
            <input type="checkbox" name="category_ids[]"
                   {% if selected.contains(cat.id) %}checked{% endif %}
                   value="{{cat.id}}" />
            {{cat.name}}
        </label>

        {% if cat.description %}
        <div class="description">{{cat.description}}</div>
        {% endif %}

        {% if cat.getChildren() %}
        {{include('categorytree', {"categories":cat.getChildren()})}}
        {% endif %}

    </li>
    {% endfor %}

</ol>
{% endif %}
