{% extends "page" %}

{% block body %}

    <div class="container">
        <div class="alert alert-info page-header">
            <h1>Site temporarily offline</h1>
            <p>{{site_title}} is currently being upgraded and will be back shortly.</p>
        </div>
    </div>

{%endblock %}
