{% extends "base" %}
{% block content %}

    <form action="{{url('login')}}" method="post">
        <input type="hidden" name="_token" value="{{csrf_token()}}">

        <div class="row">
            <div class="medium-2 columns">
                <label class="right inline" for="username">Username:</label>
            </div>
            <div class="medium-1 columns">
            </div>
            <div class="medium-5 columns">
                <input type="text" name="username" value="{{old('username')}}" id="username" class="focus-me" />
            </div>
            <div class="medium-2 columns">
                {% if adldap_enabled and adldap_suffix %}
                <span class="postfix" for="username">{{adldap_suffix}}</span>
                {% endif %}
            </div>
            <div class="medium-2 columns">
            </div>
        </div>

        <div class="row">
            <div class="medium-2 columns">
                <label class="right inline" for="password">Password:</label>
            </div>
            <div class="medium-1 columns">
            </div>
            <div class="medium-5 columns">
                <input type="password" name="password" id="password" />
            </div>
            <div class="medium-4 columns">
            </div>
        </div>

        <div class="row">
            <div class="medium-3 columns">
                &nbsp;
            </div>
            <div class="medium-5 columns">
                <input type="submit" class="button" value="Log in" />
            </div>
            <div class="medium-4 columns"></div>
        </div>

    </form>

{% endblock %}
