/vendor
/node_modules
/Homestead.yaml
/.env
/nbproject/private/
/modules/
!/modules/README.md
/bootstrap/cache/
/tests/testdox.html
/tests/testdox.txt
/docs/_build
/public/css/foundation.min.css
/public/js/foundation.min.js
