{% extends "mobile" %}
{% block content %}

    <div data-role="page">
        <div data-role="header">
            <h1>{{app_title}}</h1>
        </div>
        <div role="main" class="ui-content">
            <ul data-role="listview">
                {% for crew in crews %}
                    <li>
                        <a href="{{url('m/'~crew.id)}}">
                            <h2>{{crew.name}}</h2>
                            <p>
                                {{crew.scheduledWorkOrders.count|number_format}}
                                Work Order{% if crew.scheduledWorkOrders.count != 1 %}s{% endif %}
                            </p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div data-role="footer">

        </div>
    </div>

{% endblock %}