{% extends "base" %}
{% block content %}

<form method="post" action="{{url('job-lists/'~job_list.id~'/edit')}}" class="row">
    <input type="hidden" name="_token" value="{{csrf_token()}}" />

    {% include 'job-lists/form' %}

    <p class="columns large-12">
        <input type="submit" name="save" value="Save" class="button" />
        <a class="secondary button" href="{{url('job-lists/'~job_list.id)}}">Cancel</a>
    </p>
</form>

{% endblock %}