{% extends "base.twig" %}

{% block content %}

<form action="{{url('/assets/import')}}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_token" value="{{csrf_token()}}">
    <fieldset><legend>CSV file</legend>
        <div class="full-width row">
            <div class="large-6 columns">
                <p>Your CSV should have the following headers (in any order):</p>
                <table>
                    <tr>
                        <th>Identifier</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Comments</th>
                    </tr>
                </table>
            </div>
            <div class="large-6 columns">
                <label>
                    Select CSV file:
                    <input type="file" name="file" class="secondary button" required />
                </label>
            </div>
        </div>
    </fieldset>
    <fieldset><legend>Metadata</legend>
        <p><label>Tag imported assets with: <input type="text" name="tags" class="tagit" /></label></p>
    </fieldset>
    <p>
        <input type="submit" value="Import" class="button" />
        <a href="{{url('/assets')}}" class="secondary button" title="Return to Asset search">Cancel</a>
    </p>
</form>

{% endblock %}
